@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="min-vh-100 d-flex align-items-center justify-content-center text-center">
    <h1 class="display-6">Welcome to the Apex Events Management Application</h1>
</div>
